{{> user}}
<div class="col-md-8">															
        		<div class="mailbox-content table-responsive">
        			<div class="clearfix">
        			</div>
                     <table class="table  inventory_related" id="tab">
                        <thead>
                            <th>avatar</th>
                            <th>name</th>
                            <th>status</th>
                        </thead>
                        <tbody>
                            {{#each friend}}
                                <tr class="table-row">
                                    <td class="table-img">
                                       <img src="{{this.avatar}}" alt="" />
                                    </td>
                                    <td class="table-text">
                                    	<h6>{{this.name}}</h6>
                                        <p>{{this.email}}</p>
                                    </td>
                                    <td>
                                    	<button type="button" class="btn btn-danger">Unfriend</button>
                                    </td>
                                </tr>
                            {{/each}}
                         </tbody>
                     </table>
                </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
    $('#tab').DataTable({
        "lengthMenu": [[5, 10, 12, -1], [5, 10, 12, "All"]],
        "paging": true
    });
});
</script>