{{> user}}
<div class="col-md-8 col-sm-12 col-xs-12 mailbox-content  tab-content tab-content-in">
    <div class="tab-pane active text-style table-responsive " id="tab1">
	 	<div class="mailbox-border">
	               <div class="mail-toolbar clearfix">
				    <div class="float-left">
				        <div class="btn btn_1 btn-default mrg5R">
				           <i class="fa fa-refresh"> </i>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="float-right">
	                       <div class="clearfix"> </div>
	                 </div>
	               </div>
		</div>

	    <table class=" table tab-border display " id="inboxTable" cellspacing="0" width="100%">
	    	<thead>
	    		<tr>
	                <th>Sender</th>
	                <th>Content</th>
	                <th>Time</th>
	                <th>Age</th>
	                <th>Start date</th>
	                <th>Salary</th>
            	</tr>
	    	</thead>
	        <tbody>
	                        <tr class="table-row">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star icon-state-warning"> </i>
	                            </td>
	                            <td class="hidden-xs">
	                                Google
	                            </td>
	                            <td>
	                                Lorem Ipsum is simply
	                            </td>
	                            <td>
	                            </td>
	                            <td>
	                                12 march
	                            </td>
	                        </tr>
	                        <tr class="unread checked">
	                            <td class="hidden-xs">
	                            	<input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star icon-state-warning"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Dropbox
	                            </td>
	                            <td>
	                                Consectetuer adipiscing elit
	                            </td>
	                            <td>
	                            </td>
	                            <td>
	                                02 march
	                            </td>
	                        </tr>
	                        <tr class="unread checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star icon-state-warning"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Adobe
	                            </td>
	                            <td>
	                                Nemo enim ipsam voluptatem
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                8 march
	                            </td>
	                        </tr>
	                        <tr class="unread checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star icon-state-warning"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Apple
	                            </td>
	                            <td>
	                                Hai Neha.How are You
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                4 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Microsoft
	                            </td>
	                            <td>
	                                Nemo enim ipsam voluptatem
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                1 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Microsoft
	                            </td>
	                            <td>
	                                Lorem ipsum dolor sit amet
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                15 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Microsoft
	                            </td>
	                            <td>
	                                Nemo enim ipsam voluptatem
	                            </td>
	                            <td>
	                            </td>
	                            <td>
	                                16 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Microsoft
	                            </td>
	                            <td>
	                                Lorem Ipsum is simply
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                9 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star icon-state-warning"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Microsoft
	                            </td>
	                            <td>
	                                Consectetuer adipiscing elit
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                16 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star icon-state-warning"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Dropbox
	                            </td>
	                            <td>
	                                Nemo enim ipsam voluptatem
	                            </td>
	                            <td>
	                            </td>
	                            <td>
	                                10 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Dropbox
	                            </td>
	                            <td>
	                                Lorem ipsum dolor sit amet
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                14 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Dropbox
	                            </td>
	                            <td>
	                                Nemo enim ipsam voluptatem
	                            </td>
	                            <td>
	                            </td>
	                            <td>
	                                11 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Dropbox
	                            </td>
	                            <td>
	                                Lorem ipsum dolor sit amet
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                20 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Dropbox
	                            </td>
	                            <td>
	                                Nemo enim ipsam voluptatem
	                            </td>
	                           <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                25 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Twitter
	                            </td>
	                            <td>
	                                Consectetuer adipiscing elit
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                26 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Twitter
	                            </td>
	                            <td>
	                                Nemo enim ipsam voluptatem
	                            </td>
	                            <td>
	                            </td>
	                            <td>
	                                28 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star icon-state-warning"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Twitter
	                            </td>
	                            <td>
	                                Lorem ipsum dolor sit amet
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                06 march
	                            </td>
	                        </tr>
	                        <tr class="unread checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Twitter
	                            </td>
	                            <td>
	                                Nemo enim ipsam voluptatem
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                8 march
	                            </td>
	                        </tr>
	                        <tr class="unread checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Dropbox
	                            </td>
	                            <td>
	                                Consectetuer adipiscing elit
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                10 march
	                            </td>
	                        </tr>
	                        <tr class="read checked">
	                            <td class="hidden-xs">
	                                <input type="checkbox" class="checkbox">
	                            </td>
	                            <td class="hidden-xs">
	                                <i class="fa fa-star"></i>
	                            </td>
	                            <td class="hidden-xs">
	                                Dropbox
	                            </td>
	                            <td>
	                                Nemo enim ipsam voluptatem
	                            </td>
	                            <td>
	                                <i class="fa fa-paperclip"></i>
	                            </td>
	                            <td>
	                                16 march
	                            </td>
	                        </tr>
	        </tbody>
	    </table>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
    $('#inboxTable').DataTable({
    	"lengthMenu": [[10, 12, 15, -1], [10, 12, 15, "All"]],
    	"paging": true,
    	"pagingType": "full_numbers"
    });
});
</script>
