{{> user}}
<div class="col-md-8 compose-right">
	<div class="inbox-details-default">
		<div class="inbox-details-heading">
			Compose New Message
		</div>
		<div class="inbox-details-body">
			<div class="alert alert-info">
				Please fill details to send a new message
			</div>
			<form class="com-mail">
				<input type="text" list= 'receiver' name='receiver' value="To :" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'To';}">
				<datalist id="receiver">
					<option value="thanhthanh">
					<option value="greenfield">
					<option value="sky">
					<option value="spring">
					<option value="winter">
				</datalist>
				<input type="text"  value="Subject :" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
				<textarea rows="6"  value="Message :" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message </textarea>
				<div class="form-group">
					<div class="btn btn-default btn-file">
						<i class="fa fa-paperclip"> </i> Attachment
						<input type="file" name="attachment">
					</div>
				</div>
				<input type="submit" value="Send Message">
			</form>
		</div>
	</div>
</div>
