{{> user}}
<div class="col-md-8 compose-right">
	<div class="inbox-details-default">
		<div class="inbox-details-heading">
			Compose New Message
		</div>
		<div class="inbox-details-body" >
			<div class="alert alert-info">
			{{message}}
			</div>
			<form class="com-mail" method="post">
				<input type="text" name ="recipent" list= 'rec' placeholder="To:">
				<datalist id="rec">
					{{#each recipent}}
	          <option value="{{this.email}}">
	        {{/each}}
				</datalist>
				<textarea rows="10"  name="content" placeholder="Your message..."></textarea>
				<button type="submit" name="send">Send Message</button>
			</form>
		</div>
	</div>
</div>
