{{> user}}
<div class="col-md-8 col-sm-12 col-xs-12 mailbox-content  tab-content tab-content-in">
    <div class="tab-pane active text-style table-responsive " id="tab1">
	 	<div class="mailbox-border">
	               <div class="mail-toolbar clearfix">
				    <div class="float-left">
				        <button class="btn btn_1 btn-default mrg5R">
				           <i class="fa fa-refresh"> </i>
				        </button>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="float-right">
	                       <div class="clearfix"> </div>
	                 </div>
	               </div>
		</div>
    <table id="sentTable" class=" table tab-border display" cellspacing="0" width="100%">
      <thead id="th">
          <tr>
              <th>Recipient</th>
              <th>Content</th>
              <th>Sent</th>
              <th>Seen</th>
          </tr>
      </thead>
      <tbody>
        {{#each sent_message}}
          <tr class="table-row">
              <td >
                {{this.email}}
              </td>
              <td>
                  {{this.content}}
              </td>
              <td >
                  {{this.senttime}}
              </td>
              <td>
                  {{this.readtime}}
              </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#sentTable').DataTable( {
      "lengthMenu": [[5,10 , 15,20, -1], [5, 10, 15,20, "All"]],
    	"paging": true,
    	"pagingType": "full_numbers"
    });
} );
</script>
