<div class="container-fluid">

        		<div class="mailbox-content table-responsive col-12">
        			<div class="clearfix">
        			</div>
                     <table class="table inventory_related" id="usersTab">
                        <thead>
                            <th>Sender</th>
                            <th>Content</th>
                            <th>Time</th>
                        </thead>
                        <tbody>
                            {{#each users}}
                                <tr class="table-row">
                                    <td class="table-img">
                                       <img src="{{this.avatar}}" alt="" />
                                    </td>
                                    <td class="table-text">
                                    	<h6>{{this.name}}</h6>
                                        <p>{{this.email}}</p>
                                    </td>
                                    {{#if this.user2}}
                                    <td>
                                    	<button type="button" class="btn btn-danger">Unfriend</button>
                                    </td>
                                    {{else}}
                                    <td>
                                        <button type="button" class="btn btn-info">Add friend</button>
                                    </td>
                                    {{/if}}

                                </tr>
                             {{/each}}  
                         </tbody>
                     </table>
                </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
    $('#usersTab').DataTable({
        "lengthMenu": [[5, 10, 12, -1], [5, 10, 12, "All"]],
        "paging": true
    });
});
</script>